.header__button {
  height: 30px;
  padding: 4px 6px;
  background-color: rgb(80, 123, 243);
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 1px 1px 1px rgb(47, 95, 228);
}

.header__button:active {
  box-shadow: none;
}
